*{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body{
  font-family: 'Fira Code', monospace;
  background-image: url("/public/backgroundpage.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}